<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="static/stylesheets/main.css">
    <!-- Modernizr -->
    <script src="static/javascripts/vendor/modernizr-2.8.3.min.js"></script>
    <!-- Respond.js for IE 8 or less only -->
    <!--[if (lt IE 9) & (!IEMobile)]>
    <script src="static/javascripts/vendor/respond.min.js"></script>
    <![endif]-->
</head>
<body class="homepage" data-spy="scroll" data-target=".navbar">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<header role="banner">
    <nav role="navigation" class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="static/images/logo.png" alt="HQU_Logo" width="120" height="50"></a>
            </div>
            <div class="nav navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#welcome">welcome</a></li>
                    <li><a href="#features">features</a></li>
                    <li><a href="#impact">impact</a></li>
                    <li><a href="#signup">sign up</a></li>
                    <li><a href="/login">login</a></li>
                </ul>
            </div><!-- /.nav-collapse -->
        </div>
    </nav>
</header>

<main role="main">


    <!-- INTRO SECTION -->
    <section id="welcome" class="jumbotron">
        <div class="container">
            <div class="welcome-message">
                <h1><strong>华侨大学</strong> 本科招生</h1>
                <p>华侨大学是中国著名高等学府，创办于1960年，校区分别坐落于中国著名侨乡福建省<em>厦门市</em>和<em>泉州市</em>，学校直属国务院侨务办公室领导。
                    <a href="#features" class="btn btn-lg btn-primary pull-right">更多信息
                        <span class="icon fa fa-arrow-circle-down"></span></a></p>
            </div><!-- /.weclome-message -->
        </div>
    </section>

    <!-- FEATURES SECTION -->
    <section id="features">
        <div class="container">
            <h1>Features</h1>
            <div class="row">
                <div class="features-item col-md-4 col-sm-6">
                    <span class="icon fa fa-cloud"></span>
                    <h2>Feature 1</h2>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo. </p>
                </div>
                <div class="features-item col-md-4 col-sm-6">
                    <span class="icon fa fa-group"></span>
                    <h2>Feature 2</h2>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo. </p>
                </div>
                <div class="features-item col-md-4 col-sm-6">
                    <span class="icon fa fa-comments"></span>
                    <h2>Feature 3</h2>
                    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                </div>
                <div class="features-item col-md-4 col-sm-6">
                    <span class="icon fa fa-leaf"></span>
                    <h2>招生信息</h2>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo. </p>
                </div>
                <div class="features-item col-md-4 col-sm-6">
                    <span class="icon fa fa-download"></span>
                    <h2>专业推荐</h2>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo. </p>
                </div>
                <div class="features-item col-md-4 col-sm-6">
                    <span class="icon fa fa-coffee"></span>
                    <h2>录取预测</h2>
                    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.row -->

    <!-- IMPACT SECTION -->
    <section id="impact">
        <div class="container">
            <h1>Impact</h1>
            <div class="reviews js-masonry" data-masonry-options='{ "itemSelecter" : ".hreview" }'>
                <div class="hreview review-item-1 thumbnail col-sm-6 col-md-4">
                    <img src="static/images/http_imgload%20(1).jpg" alt="Customer Photo1">
                    <div class="caption">
                        <blockquote class="description"><p>厦门校区综合教学楼群</p></blockquote>
                        <p class="reviewer">厦门校区</p>
                    </div><!-- /.caption -->
                </div><!-- /.hreview -->
                <div class="hreview review-item-2 thumbnail col-sm-6 col-md-4">
                    <img src="static/images/http_imgload%20(2).jpg" alt="Customer Photo2">
                    <div class="caption">
                        <blockquote class="description"><p>厦门校区综合教学楼群</p></blockquote>
                        <p class="reviewer">厦门校区</p>
                    </div><!-- /.caption -->
                </div><!-- /.hreview -->
                <div class="hreview review-item-3 thumbnail col-sm-6 col-md-4">
                    <img src="static/images/http_imgload%20(3).jpg" alt="Customer Photo3">
                    <div class="caption">
                        <blockquote class="description"><p>厦门校区综合教学楼群</p></blockquote>
                        <p class="reviewer">厦门校区</p>
                    </div><!-- /.caption -->
                </div><!-- /.hreview -->
                <div class="hreview review-item-4 thumbnail col-sm-6 col-md-4">
                    <img src="static/images/http_imgload%20(4).jpg" alt="Customer Photo4">
                    <div class="caption">
                        <blockquote class="description"><p>厦门校区综合教学楼群</p></blockquote>
                        <p class="reviewer">厦门校区</p>
                    </div><!-- /.caption -->
                </div><!-- /.hreview -->
                <div class="hreview review-item-5 thumbnail col-sm-6 col-md-4">
                    <img src="static/images/http_imgload%20(5).jpg" alt="Customer Photo5">
                    <div class="caption">
                        <blockquote class="description"><p>厦门校区综合教学楼群</p></blockquote>
                        <p class="reviewer">厦门校区</p>
                    </div><!-- /.caption -->
                </div><!-- /.hreview -->
                <div class="hreview review-item-6 thumbnail col-sm-6 col-md-4">
                    <img src="static/images/http_imgload%20(6).jpg" alt="Customer Photo6">
                    <div class="caption">
                        <blockquote class="description"><p>厦门校区图书馆</p></blockquote>
                        <p class="reviewer">厦门校区</p>
                    </div><!-- /.caption -->
                </div><!-- /.hreview -->
                <div class="hreview review-item-7 thumbnail col-sm-6 col-md-4">
                    <img src="static/images/http_imgload%20(7).jpg" alt="Customer Photo7">
                    <div class="caption">
                        <blockquote class="description"><p>厦门校区图书馆</p></blockquote>
                        <p class="reviewer">厦门校区</p>
                    </div><!-- /.caption -->
                </div><!-- /.hreview -->
                <div class="hreview review-item-8 thumbnail col-sm-6 col-md-4">
                    <img src="static/images/http_imgload%20(8).jpg" alt="Customer Photo7">
                    <div class="caption">
                        <blockquote class="description"><p>厦门校区学生餐厅</p></blockquote>
                        <p class="reviewer">厦门校区</p>
                    </div><!-- /.caption -->
                </div><!-- /.hreview -->
                <div class="hreview review-item-9 thumbnail col-sm-6 col-md-4">
                    <img src="static/images/http_imgload%20(9).jpg" alt="Customer Photo7">
                    <div class="caption">
                        <blockquote class="description"><p>厦门校区国际会议中心</p></blockquote>
                        <p class="reviewer">厦门校区</p>
                    </div><!-- /.caption -->
                </div><!-- /.hreview -->
            </div><!-- /.reviews -->
        </div><!-- /.container -->
    </section><!-- /#impact -->

    <!-- SIGNUP SECTION -->
    <section id="signup">
        <div class="container">
            <h1>Sign up now!</h1>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <form id="sign_up">
                        <div class="form-group">
                            <label for="inputName">Name</label>
                            <input type="text" class="form-control" id="inputName">
                        </div>
                        <div class="form-group">
                            <label for="inputEmail">Email</label>
                            <input type="email" class="form-control" id="inputEmail">
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Password</label>
                            <input type="password" class="form-control" id="inputPassword" placeholder="at least 6 characters">
                        </div>
                        <div class="form-group">
                            <label for="inputPasswordAgain">Password again</label>
                            <input type="password" class="form-control" id="inputPasswordAgain">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">注册新用户</button>
                        <p class="help-block">By creating an account, you agree to HQU's Conditions of Use and Privacy Notice.
                        </p>
                        <hr>
                        <p>Already have an account? <a href="#">Sign in</a></p>
                    </form>
                </div>
            </div>
        </div><!-- /.container -->
    </section><!-- /#signup -->


</main>

<footer role="contentinfo">

    <div class="container">
        <div class="row">

            <div class="col-sm-4 col-md-2">
                <h3>校内网站</h3>
                <ul>
                    <li><a href="#">图书馆</a></li>
                    <li><a href="#">华大邮箱</a></li>
                    <li><a href="#">信息门户</a></li>
                    <li><a href="#">校长邮箱</a></li>
                    <li><a href="#">校务公开</a></li>
                    <li><a href="#">虚拟校园</a></li>
                    <li><a href="#">教务处</a></li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-2">
                <h3>校外网站</h3>
                <ul>
                    <li><a href="#">百度</a>  </li>
                    <li><a href="#">新浪</a></li>
                    <li><a href="#">网易</a></li>
                    <li><a href="#">腾讯</a></li>
                    <li><a href="#">Bootstrap</a></li>
                    <li><a href="#">Angular</a></li>
                    <li><a href="#">Node</a></li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-2">
                <h3>其他</h3>
                <ul>
                    <li><a href="#">Express</a></li>
                    <li><a href="#">Express</a></li>
                    <li><a href="#">Express</a></li>
                    <li><a href="#">Express</a></li>
                    <li><a href="#">Express</a></li>
                    <li><a href="#">Express</a></li>
                </ul>
            </div>

            <!-- 使用clearfix清除浮动 -->
            <div class="clearfix visible-sm"></div>

            <div class="about col-sm-12 col-md-6">
                <h3>About Us</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse euismod congue bibendum. Aliquam erat volutpat. Phasellus eget justo lacus. Vivamus pharetra ullamcorper massa, nec ultricies metus gravida egestas. Duis congue viverra arcu, ac aliquet turpis rutrum a. Donec semper vestibulum dapibus. Integer et sollicitudin metus. Vivamus at nisi turpis. Phasellus vel tellus id felis cursus hendrerit.</p>
                <p><a class="btn btn-default btn-xs pull-right" href="#">Learn more <span class="fa fa-arrow-circle-right"></span></a></p>
            </div>
        </div><!-- /.row -->

        <ul class="social">
            <li><a href="#" title="Twitter Profile"><span class="icon fa fa-twitter"></span></a></li>
            <li><a href="#" title="Facebook Page"><span class="icon fa fa-facebook"></span></a></li>
            <li><a href="#" title="LinkedIn Profile"><span class="icon fa fa-linkedin"></span></a></li>
            <li><a href="#" title="Google+ Profile"><span class="icon fa fa-google-plus"></span></a></li>
            <li><a href="#" title="GitHub Profile"><span class="icon fa fa-github-alt"></span></a></li>
        </ul>

        <p class="footer-brand"><a href="_index.html"><img src="static/images/logo.png" width="80" alt="...'"></a></p>

    </div><!-- /.container -->
</footer>

<script src="static/javascripts/vendor/jquery-1.12.0.min.js"></script>
<script src="static/javascripts/plugins.js"></script>

</body>
</html>
